* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: hsl(243, 87%, 12%);
  --desaturedBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --lightGrayish: hsl(224, 93%, 58%);
  --lightGray: hsl(0, 0%, 75%);
  --openSans: "Open Sans", sans-serif;
  --raleWay: "Raleway", sans-serif;
}

nav,
.hero,
.stay-container,
.call-to-action,
.footer-container {
  max-width: 1440px;
  margin: auto;
  font-family: var(--openSans);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--desaturedBlue);
  font-family: var(--raleWay);
}

nav,
ul,
.hero,
.hero-left,
.hero-form,
.stay-container,
.curved-bg-holder,
.left-stay,
.left-stay-1,
.left-stay-1-2,
.left-stay-1-2-avatar,
.call-to-action,
.call-right,
.call-left,
.footer-middle,
.footer-left,
.footer-right,
.footer-container {
  display: flex;
  justify-content: space-between;
}

.left-stay,
.left-stay-1,
.left-stay-1-2,
.call-right,
.call-left,
.footer-left,
.footer-middle ul,
.footer-left-contact,
.footer-left-contact li {
  flex-direction: column;
}

.stay-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.left-stay-1-2-avatar {
  align-items: center;
  gap: 1.5rem;
}

.footer-middle ul,
.left-stay-1-2-avatar,
.footer-middle ul,
.hero-form {
  justify-content: flex-start;
}

.left-stay {
  gap: 2rem;
}
.left-stay-1 a {
  color: var(--ModerateCyan);
}
.left-stay-1-2 {
  background-color: #fff;
  border-radius: 1rem;
  width: 35rem;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left-stay-1-2 p {
  line-height: 2rem;
}
.left-stay-1-2 img {
  width: 20px;
}
.left-stay-1-2-avatar img {
  width: 70px;
  border-radius: 50%;
}
.stay-bg {
  background-color: #f8f8fe;
}
.left-stay-1 {
  width: 70%;
  gap: 1rem;
}

.left-stay-1-2 {
  gap: 1rem;
}

.curved-bg-holder img {
  width: 100%;
}

.hero-left {
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 40%;
}

.hero-left p {
  font-size: 18px;
  color: var(--darkBlue);
}
nav {
  align-items: center;
}
ul {
  gap: 3.5rem;
  padding: 2rem;
}

.hero {
  padding-top: 5rem;
}

.hero img,
.right-stay img {
  width: 600px;
}

.hero h1 {
  font-size: 36px;
  color: var(--darkBlue);
}

.hero-form {
  gap: 1rem;
}

.hero-form input {
  width: 320px;
  padding: 0.8rem;
}

.hero-form input::placeholder {
  color: rgba(0, 0, 0, 0.333);
}
.hero-form button {
  border: none;
  width: 200px;
  background-color: var(--brightBlue);
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.call-bg {
  background-color: var(--desaturedBlue);
  color: #fff;
  padding: 6rem;
}

.call-left {
  gap: 1rem;
  width: 36%;
}
.call-left p {
  color: #d6cbde;
}

.call-right input {
  text-indent: 1rem;
  padding: 1rem;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  border-radius: 5px;
}

.call-right input::placeholder {
  color: var(--lightGray);
}

.call-right button {
  width: 13rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--brightBlue);
  color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
  background-color: var(--darkBlue);
}

.footer-left img {
  width: 200px;
}

.footer-left-contact img {
  width: auto;
}

.footer-container {
  padding: 3rem;
}
.footer-middle ul {
  gap: 1rem;
}

.footer-left-contact,
.footer-left-contact li {
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  color: #d6cbde;
}

.footer-container a {
  color: #d6cbde;
}

.footer-left-contact {
  padding: 0;
  align-items: flex-start;
}

.footer-right {
  gap: 2rem;
  padding-top: 2rem;
}
